body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 20px;
    background-color: #434343;
    color: rgb(103, 160, 229);
}

.nav-container{
    margin-bottom: 40px;
}

h2{
    margin-bottom: 15px;
}

.nav1{
    background-color: #bbbbbb;
    padding: 8px;
}

.nav1 ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    justify-content:space-around;
}

.nav1 li{
    display: inline;
}
.nav1 a{
   text-decoration: none; 
   color: rgb(98, 98, 98);
}


