body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 20px;
    background-color: #2f2f2f;
    color: rgb(103, 160, 229);
}

.nav-container{
    margin-bottom: 40px;
}

h2{
    margin-bottom: 15px;
}

.nav1{
    background-color: #919191;
    padding: 8px;
}

.nav1 ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    justify-content:space-around;
}

.nav1 li{
    display: inline;
}
.nav1 a{
   text-decoration: none; 
   color: rgb(255, 254, 254);
   /* background-color: #293138; */
   padding: 5px 15px;
   cursor:pointer;
}

.nav1 .login-btn{
    background-color: #053b68;
    color: rgb(190, 192, 194);
    border: none;
    padding:5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

